*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato',sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
}

.container-1{
    background-image: url('./images/seceda.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.container-1 h2{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 99;
    color: white;
}
.cloud{
    overflow: hidden;
}
.cloud img {
    position: absolute;
    left: 0;
    top: 50%;                          /* ← NEW: center vertically */
    transform: translateY(-50%);        /* ← NEW: perfect vertical centering */
    width: 100%;
    max-width: none;
    opacity: 0.6;
    
    /* SLOWER & MORE NATURAL MOVEMENT */
    animation: cld calc(30s * var(--i)) linear infinite;
    animation-delay: calc(-5s * var(--i));
}
@keyframes cld{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.container-2{
    width: 50%;
    margin: 20px auto;
}
.container-2 h4{
   text-align: center;
   color: gray;
   font-size: 18px;
   padding-top: 20px;
}
.container-2 p{
    
    color: rgb(151, 151, 151);
    font-size: 14px;
    line-height: 25px;
    padding-top: 20px;
 }
