* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('./images/landscape.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container-1 {
    position: relative;
    width: 100%;
    height: 100%;
}

.container-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.nav-buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.nav-btn {
button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
}

button:hover::before, button:hover::after {
  transform: scale(0)
}

button:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}

.cloud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 10;    
}

.cloud img {
    position: absolute;
    top: 50%;                    /* Position in middle vertically */
    transform: translateY(-50%); /* Center them vertically */
    left: -600px;                /* Start off-screen to the left */
    width: 1800px;                /* Made bigger */
    height: 600px;               /* Made bigger */
    max-width: none;
    opacity: .7;
    animation: cld calc(30s * var(--i)) linear infinite;
    animation-delay: calc(-5s * var(--i));
}

@keyframes cld {
    0%   { transform: translateX(0) translateY(-50%); }      /* Include translateY in animation */
    100% { transform: translateX(calc(100vw + 600px)) translateY(-50%); }  /* Move all the way across */
}
